<div class="max-w-4xl mx-auto p-6">
    <form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
        <h2 class="text-3xl font-semibold text-gray-900 mb-6 text-center">Crear Nueva Receta</h2>

        <!-- Título -->
        <div class="mb-4">
            <label for="title" class="block text-gray-700 text-sm font-medium mb-2">Título</label>
            <input id="title" formControlName="title" type="text" required
                class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>

        <!-- Descripción -->
        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-medium mb-2">Descripción</label>
            <textarea id="description" formControlName="description" rows="4" required
                class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
        </div>

        <!-- Ingredientes -->
        <div class="mb-4">
            <label for="ingredients" class="block text-gray-700 text-sm font-medium mb-2">Ingredientes</label>
            <textarea id="ingredients" formControlName="ingredients" rows="4" required
                class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
        </div>

        <!-- Instrucciones -->
        <div class="mb-4">
            <label for="instructions" class="block text-gray-700 text-sm font-medium mb-2">Instrucciones</label>
            <textarea id="instructions" formControlName="instructions" rows="4" required
                class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
        </div>

        <!-- Categoría y Etiquetas -->
        <div class="mb-4 flex space-x-4 justify-center">


            <!-- Categoría -->
            <div class="w-1/2">
                <label for="category" class="block text-gray-700 text-sm font-medium mb-2">Categoría</label>
                <select id="category" formControlName="category_id"
                    class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

                    <!-- Modo Creación: Opción de seleccionar categoría -->
                    <option *ngIf="!isEditing" value="" disabled selected>Selecciona una categoría</option>

                    <!-- Modo Edición: Mostrar la categoría actual como texto (no seleccionable) -->
                    <option *ngIf="isEditing" [value]="categoryId">
                        {{ "Prueba" }}
                    </option>

                    <!-- Mostrar todas las categorías disponibles -->
                    <option *ngFor="let category of listaCategorias" [value]="category.id">
                        {{ category.attributes?.name }}
                    </option>
                </select>
            </div>


            <!-- Etiqueta -->
            <div class="w-1/2">
                <label for="tags" class="block text-gray-700 text-sm font-medium mb-2">Etiqueta</label>
                <select id="tags" formControlName="tags"
                    class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

                    <!-- Modo Creación: Opción de seleccionar categoría -->
                    <option *ngIf="!isEditing" value="" disabled selected>Selecciona una etiqueta</option>

                    <!-- Modo Edición: Mostrar la categoría actual como texto (no seleccionable) -->
                    <option *ngIf="isEditing" [value]="tagId">
                        {{ receta.attributes.tags }}
                    </option>

                    <!-- Mostrar todas las categorías disponibles -->
                    <option *ngFor="let tag of listaTags" [value]="tag.id">
                        {{ tag.attributes?.name }}
                    </option>
                </select>
            </div>





        </div>

        <!-- Imagen -->
        <div class="mb-4">
            <label for="image" class="block text-gray-700 text-sm font-medium mb-2">Imagen (opcional)</label>
            <input (change)="capture($event)" id="image" formControlName="image" type="file" accept="image/*" #fileInput
                class="block w-full text-sm text-gray-500 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>

        <!-- Botón de Enviar (Crear o Editar) -->
        <div class="text-center">
            <!-- Botón de Crear Receta -->
            <button *ngIf="!isEditing" type="submit"
                class="text-white bg-blue-600 px-6 py-3 rounded-lg shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-500">
                Crear receta
            </button>

            <!-- Botón de Editar Receta -->
            <button *ngIf="isEditing" (click)="onEdit()" type="button"
                class="text-white bg-green-600 px-6 py-3 rounded-lg shadow-lg hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-500">
                Enviar
            </button>
        </div>

    </form>
</div>