
<div *ngIf="meals && meals.length">
  <div *ngFor="let meal of meals" class="border border-gray-300 rounded-lg p-5 mb-5 bg-gray-50">
    <!-- Título de la comida -->
    <div class="meal-header flex flex-col items-center mb-4">
      <h3 class="text-2xl font-bold text-gray-800 text-center mb-2">{{ meal.strMeal }}</h3>
      <img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" class="max-w-full h-auto rounded-lg">
    </div>

    <!-- Instrucciones -->
    <div class="instructions-container mb-6">
      <h4 class="text-xl font-semibold text-green-500 mb-2">Instrucciones:</h4>
      <p class="text-gray-600 text-lg leading-relaxed">{{ meal.strInstructions }}</p>
    </div>

    <!-- Ingredientes -->
    <div class="ingredients-container mb-6">
      <h4 class="text-xl font-semibold text-green-500 mb-2">Ingredientes:</h4>
      <ul class="list-none pl-0">
        <li *ngFor="let ingredient of meal.strIngredients; let i = index" class="text-lg text-gray-600 mb-2">
          <span class="font-semibold">{{ ingredient }}</span> - <span class="italic text-gray-500">{{ meal.strMeasures[i] }}</span>
        </li>
      </ul>
    </div>

    <!-- Video de YouTube -->
    <div class="video-container mb-6">
      <h4 class="text-xl font-semibold text-green-500 mb-2">Ver en YouTube:</h4>
      <a [href]="meal.strYoutube" target="_blank" class="text-blue-500 text-lg hover:underline">Ver receta en video</a>
    </div>
  </div>
</div>

