<div class="flex space-x-4 my-5 mx-5">
  <!-- Sección de Categorías -->
  <div class="w-80 mt-14">
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Categorías</h2>
    <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <li *ngFor="let categoria of listaCategorias" (click)="recetasPorCategorias(categoria.strCategory)"
        class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600 cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600 hover:text-black dark:hover:text-white">
        {{ categoria.strCategory }}
      </li>
    </ul><br><br>

    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Receta aleatoria</h2>
    <button (click)="obtenerRecetaAleatoria()" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
      Generar receta aleatoria
    </button><br><br><br>
  </div>

  <!-- Sección de Recetas (Central, con paginación) -->
  <div class="flex-1 ">
    <h1 class="text-3xl font-semibold text-gray-900 mb-6 text-center w-full">{{ titulo }}</h1>
    <div class="grid grid-cols-3 gap-8 w-full">
      <div *ngFor="let receta of paginatedRecetas" class="w-full border p-4">
        <app-tarjeta-receta [receta]="receta"></app-tarjeta-receta>
      </div>
    </div>

    <!-- Controles de Paginación -->
    <div class="flex justify-center mt-4">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="px-4 py-2 mx-2 bg-blue-500 text-white rounded hover:bg-blue-700">
        Anterior
      </button>
      <span class="text-lg font-semibold">Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-4 py-2 mx-2 bg-blue-500 text-white rounded hover:bg-blue-700">
        Siguiente
      </button>
    </div>
  </div>

  <!-- Sección de Recetas por Áreas (Fijo a la derecha) -->
  <div class="w-80 mt-14 ml-auto">
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Recetas por áreas</h2>
    <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <li *ngFor="let area of listaAreas" (click)="recetasPorArea(area.strArea)"
        class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600 cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600 hover:text-black dark:hover:text-white">
        {{ area.strArea }}
      </li>
    </ul><br><br>
  </div>
</div>
